html, body, #root {
  width: 100%;
  height: 100%;
}

.view-page {
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}

.photo {
  zoom: 4;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
